*{
    margin:0;
    padding:0;
}
.bg{
    position: absolute;
    background-image:url("../../images/submit/log-bg.jpg");
    width:100%;
    height:100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
#signup {
    align-items: center;
    width:fit-content;
    
}

.stuff {
    
    width:fit-content;
    height:fit-content;
    margin:auto;
    overflow:none;
    
}
    
.q {
    font-size:20px;
    background-color:rgba(255, 255, 255, 0.5);
    display:block;
    border-radius:10px;
    margin:10px 0;
    font-family:arial;
    width:100%;
    box-sizing: border-box;
    padding:10px 10;
    box-shadow: 3px 3px 8px rgba(17, 17, 17, 0.664);
    transition:1s;
}


/* .q:hover{
    transform:scale(105%);
    box-shadow:3px 3px 8px rgba(1, 155, 245, 0.822);
} */


.submit_btn{
    font-size:20px;
    font-family:arial;
    background-color: rgba(0, 0, 0, 0.564);
    color: white;
    box-shadow:3px 3px 8px rgba(61, 61, 61, 0.822);
    width:200px;
    text-align: center;
    display:block;
    border-radius: 10px;
    margin-top: 30px;
    padding:0 10px;
    transition:1s;
}
.submit_btn:hover{
    /* transform:scale(115%); */
    background-color: rgba(0, 0, 68, 0.428);
    color:rgb(208, 255, 0);
    box-shadow: 3px 3px 8px #111;
    width:300px;
    height: 60px;
}
.center_btn{
    width:fit-content;
    height:fit-content;
    margin:0 auto;
}

.item_box:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}

.item_box {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height:60%;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(79, 51, 51, 0.15);  
    backdrop-filter: blur(3px);
    border-radius: 20px;
    padding:20px;
    transition: 1s;
}


.item_box:hover{
    backdrop-filter: blur(15px);
}

.stuff h2 {
    font-size:30px;
    font-family: 'Poiret One', cursive;
    font-style:bold;
    font-family: 'Titillium Web', sans-serif;
    text-align:center;
    padding-bottom: 10px;
    color: #ffffff;
    margin-bottom: 0px;
    text-shadow:2px 2px 4px rgb(23, 23, 56);
    transition:1s;
}


.stuff span {
    font-size:60px;
    font-family: 'Poiret One', cursive;
    font-style:bold;
    font-family: 'Titillium Web', sans-serif;
    text-align:center;
    padding-bottom: 10px;
    color: #c8ff00;
    margin-bottom: 0px;
    text-shadow:2px 2px 4px rgb(23, 23, 56);
    transition:1s;
}


/* .stuff h2:hover{
    transform:scale(101%);
    text-shadow:3px 3px 8px rgba(1, 155, 245, 0.822);
} */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(131, 146, 170);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(131, 146, 170);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(131, 146, 170);
  }
  .media ul {
    padding-top:10px;
}