*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: rgba(23, 23, 23, 0.93); 
   }

#cursor{
    position: absolute;
    width: 50px;
    rotate: 10deg;
    height: 50px;
    border: white;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    transition: 1s;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 10;
    backdrop-filter: invert(100%);
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}

  @keyframes example {
    0% {
        width: 50px;
        height: 50px;
        rotate: 0deg;
    }
    25% {
        width: 70px;
        height: 50px;
        rotate: 10deg;
    }
    50% {
        width: 50px;
        height: 50px;
        rotate: 0deg;
    }
    75% {
        width: 50px;
        height: 70px;
        rotate: 10deg;
    }
    100% {
        width: 50px;
        height: 50px;
        rotate: 0deg;
    }
  }



.bannersection{
    position: sticky;
    background-color: rgba(23, 23, 23, 0.93);
    top: -500px;
}


.banner{
    align-items: center;
    width: 100%;
    height: 662px;
    text-align: center;
}


  

.bannerimg{
    position: sticky;
    top: -100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 100px;
    transition: 1s;
    filter: brightness(80%);
    filter: grayscale(100%);
}

.bannerimg:hover{
    filter: brightness(100%);
    filter: grayscale(0%);
    width: 1000px;
}

.byname{
    color: white;
    position: relative;
    right: 250px;
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
}

.bannertitle{
    position: relative;
    font-size: 90px;
    color: yellow;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    transition: 1s;
}

.byname:hover{
    transform: scale(120%);
}

.article{
    position: relative;
    margin:0 auto;
    width: 60%;
    column-count: 1;
    background-color: rgba(23, 23, 23, 0.748);
    backdrop-filter: blur(200px);
}

.articlepara{
    text-align: justify;
    padding: 70px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}


.emptyplaceholder{
    height: 100px;
}

.devider{
    border-top: 8px solid rgb(208, 255, 0);
    border-radius: 5px;
    position: relative;
    width: 1000px;
    left: 250px;
}


.instragrame{
    width: 100px;
    height: 100px;
}


.article{
    position: relative;
    margin:0 auto;
    border-radius: 20px;
    background-color: rgb(71, 71, 71);
    width: 1000px;
    box-shadow: 0px 0px 100px rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    opacity: 90%;
    transition: 1s;
}

.article:hover{
    background-color: rgb(34, 34, 34);
    color: white;
}