*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: rgba(23, 23, 23, 0.93); 
   }

.media ul {
    padding-top:10px;
}
.bannersection{
    position: sticky;
    background-color: rgba(23, 23, 23, 1);
    top: -550px;
    margin-bottom: 40px;
    z-index: 2;
}


.banner{
    align-items: center;
    width: 100%;
    height: 662px;
    text-align: center;
}


  

.bannerimg{
    position: sticky;
    top: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 100px;
    transition: 1s;
    filter: brightness(80%);
    filter: grayscale(100%);
    margin-bottom:5px;
}

.bannerimg:hover{
    filter: brightness(100%);
    filter: grayscale(0%);
    width: 1000px;
}

.byname{
    color: white;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
    text-align: left;
    width:80%;
    margin:0 auto;
    transform-origin: left;
}

.bannertitle{
    position: relative;
    font-size: 90px;
    color: yellow;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    transition: 1s;
    text-align: left;
    width:80%;
    margin:0 auto;
    line-height: 100px;
    
}

.byname:hover{
    transform: scale(110%);
}

.article{
    position: relative;
    margin:0 auto;
    width: 60%;
    column-count: 1;
    background-color: rgba(23, 23, 23, 0.748);
    backdrop-filter: blur(200px);
    
}

.articlepara{
    text-align: justify;
    padding: 70px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}


.emptyplaceholder{
    height: 70px;
}
.share{
    width:80%;
    margin:0 auto;
}
.devider{
    border-top: 5px solid rgb(208, 255, 0);
    border-radius: 5px;
    position: relative;
    width: 100%;
    margin:0 auto;
}


.instragrame{
    width: 100px;
    height: 100px;
}


.article{
    position: relative;
    margin:0 auto;
    border-radius: 20px;
    background-color: rgb(71, 71, 71);
    width: 1000px;
    box-shadow: 0px 0px 100px rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    opacity: 90%;
    transition: 1s;
}

.article:hover{
    background-color: rgb(34, 34, 34);
    color: white;
}

.shareit {
    color:white;
    width:fit-content;
    float:right;
    margin-right:30px;
}
.share-items li{
    display:inline-block;
    padding:10px 0;
}
.share-icons{
    display:inline-block;
    margin-left:20px;
}
.share-icons li{
    padding-right:10px;
}
.share-items{
    float:right;
    margin-right:20px;
}

.formlink{
    align-self: center;
    background-color: yellow;
    color: blue;
    padding-left: 10%;
    padding-right: 10%;
    transition: 1s;
    border-radius: 10px;
}

.formlink:hover{
    background-color: rgb(78, 78, 78);
    color: black;
    border-radius: 100px;
    padding-left: 5%;
    padding-right: 5%;
}



.form{
    align-self: center;
    text-align: center;
    font-size: 60px;
    padding-bottom: 40px;
    align-items: center;
    transition: 1s;
}


.form:hover{
    transform: scale(110%);
}