html{
    background-color: rgb(40, 2, 162);
    align-items: center;
    height: 760;
    overflow: hidden;
    background-image: url(images/images_coming_soon/earth-hd.jpg);
}

img{
    margin: 0px auto;
    transform: scale(80%);
    height: 100%;
    z-index: 0;
    width: 100%;
    position: absolute;
    /* top: -360px; */
}

.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/images_coming_soon/dbe40460e9005b411eba5a9e3eeaea01.gif);
    background-size: cover;
    background-position-y: 30%;
  }
  
  .typing-demo {
    /* width: 900px; */
    color: yellow;
    animation: typing 10s steps(22) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    transition: 1s;
    text-shadow: 10px 0px 0px rgb(0, 0, 0);
  }
  .typing-demo:hover{
      transform: scale(110%);
      transition: 1s;
      text-shadow: 5px -5px 0px blue;
  }

h1{
    font-size: 100px;
}
#cursor{
    animation: blink2 .5s step-end infinite alternate;
}


@keyframes blink2 {
    50% {
      background-color: black;
      height: 80px;
      width: 80px;
    }
  }

  
  @keyframes typing {
    0% {
      width: 0;
      color: white;
      text-shadow:  15px 0px 0px blue;
    }
    15%{
        width: 900px;
        color: yellow;
        text-shadow:  -5px 0px 0px blue;
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }