@font-face{
    src:url("https://hirund.github.io/MetroWeb/Fonts/efapro.otf");
    font-family:efa;
}
* {
    margin:0;
    padding:0;
    background: transparent;
}
body{
    background-color:rgb(27,27,27);
}
a{
    text-decoration:none;
    color:white;
}

#navbar{
    position:fixed;
    z-index: 10;
    top: 0px;
    width:100%;
    height:70px;
    background-color: rgba(1, 2, 59, 0.5);
    transition: top 1s;   
}

nav h1 {
    font-size:30px;
    font-family:arial;
    margin-top:16px;
    float:left;
    width:fit-content;
    display:block;
    padding-left:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#D4AF37;
    cursor:default;
}
nav .links li{
    position:relative;
    display:inline-block;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    margin: 7px 13px;
    width:fit-content;
    border:2px solid transparent;
    border-radius: 5px;
    padding:2px;
    transition:transform 500ms, background-color 500ms, border-color 500ms ease-in-out;
}

nav .links li:hover{
    transform:scale(110%);
    border-color:#f2f2f2;
    background-color: #03057c;
}
nav .links {
    padding-right:10px;
    color:white;
    padding-top:13px;
    padding-left:0;
    float:right;
}
.dropdown {
    display:inline-block;
    position:relative;
    height:fit-content; 
    cursor: pointer;
}
.content {
    position:absolute;
    width:100%;
    overflow:auto;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
    border-radius:20px;
    padding:20px;
    background-color:white;
    font-size:15px;
    transition:visibility 200ms;
    transform-origin: center top;
    transform:scale(0%);
    transition:transform 700ms ease-in-out;
}
.dropdown:hover .content{
    visibility:visible;
    transform: scale(100%);
}
.dropdown:hover li{
    transform:scale(110%);
    border-color:#f2f2f2;
    background-color: #03057c;
}
.content a{
    width:100%;
    height:fit-content;
    display:block;
    padding:5px;
    color:black;
    font-family:arial;
    border-radius:5px;
    transition:transform 500ms, background-color 500ms ease-in-out;
    
}
.content a:hover{
    transform:scale(110%);
    color:white;
    background-color:#03057c;
    

}
.media ul li{
    width:30px;
    height:30px;
    display:inline-block;
    margin-left:5px;
    
}
.media ul {
    padding-left:20px;;
    float:right;
    width:fit-content;
    margin-top:10px;
    margin-right:30px;
}

.insta{
    display:block;
    width:30px;
    height:30px;
    background-image: url(images/nav/instagrme\ no\ color.svg);
    background-size:cover;
    transition:transform 500ms;
}
.insta:hover{
    transform:scale(120%);
}
.twitter {
    width:30px;
    height:30px;
    background-image: url("images/nav/twitter\ no\ color.svg");
    background-size:cover;
    transition:transform 500ms;
}
.twitter:hover{
    transform:scale(120%);
}
.logo {
    width:50px;
    height:50px;
    margin-top:10px;
    float:left;
    margin-left:30px;
    
    /* to be removed later */
    color:white;
    border:1px solid white;
}

.sign-drop{
    display:inline-block;
    position:relative;
    height:fit-content; 
    cursor: pointer;
}
.sign-op{
    position:absolute;
    width:100%;
    overflow:auto;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
    border-radius:20px;
    padding:20px;
    background-color:white;
    font-size:15px;
    transition:visibility 200ms;
    transform-origin: center top;
    transform:scale(0%);
    transition:transform 700ms ease-in-out;
}
.sign-drop:hover .sign-op{
    visibility:visible;
    transform:scale(100%)
}
.sign-op a{
    color:#111;
    font-family:"Arial";
    width:100%;
    border-radius: 5px;
    transition:500ms ease-in-out;
    display:block;
    height:fit-content;
    padding:5px;
}
.sign-op a:hover{
    background-color: #03057c;
    color:white;
}
.sign-drop:hover li{
    transform:scale(110%);
    border-color:#f2f2f2;
    background-color: #03057c;
}
/*
#not-logged{
    display:none;
}

#logged{
    display:none;
}
*/
/* -----------end of navbar-------------*/
.hero {
    width:100%;
    height:100vh;
    background-image:url("images/nav/banner.jpg");
    background-size:cover;
}
.hero h1 {
    text-align:center;
    font-family:efa;
    font-size:60px;
    color:white;
    padding:160px 0 15px 0;
    width:fit-content;
    margin: 0 auto;
}
.hero h3{
    text-align:center;
    color:white;
    font-family: 'Poiret One', cursive;
    font-size:45px;
    width:fit-content;
    margin:0 auto;
}
.formq {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(72, 72, 72);
    width: 700px;
    height: 54px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:40px auto;
    transition:background-color 200ms;
    box-shadow:5px 7px 8px #111;
    transition:transform 800ms, background-color 800ms ease-in-out;
  }
  .formq:hover{
    transform: scale(110%);
    color: black;
    background-color:rgba(255, 255, 255,0.7);
  }


  .explore{
      
      font-size: 30px;
      height: fit-content;
      position:relative;
      background-color: white;
      padding: 10px;
      background-size: cover;
      width: fit-content;
      margin:0 auto;
      font-family: 'Montserrat', sans-serif;
      color: black;
      font-weight: 700;
      transition: 1s;
      transform: scale(100%);
      display:block;
      border-radius:10px;
  }

  .explore:hover{
      background-color: rgb(68, 68, 250);
      box-shadow: 0px 0px 108px #826ef5;
      color: rgb(255, 255, 255);
      font-size: 45px;
  }

  input {
    all: unset;
    font: 16px arial;
    color: #111;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
.app img {
    
    width:200px;
    background-size: cover;
}
.app h4{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    text-align:center;
    padding-bottom:20px;
}
.app {
    float:right;
    margin-right:30px;
}
