*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* background: rgba(23, 23, 23, 0.93);    */
   }


   /*TOPRATINGS*/


.hero{
    height: 762px;
    background-color: black;
}

.toparticles {
    overflow: hidden;
    position: relative;
    height: 762px;
    width: 100%;
    background-color: rgb(27, 27, 27);
}


.toparticleheader{
    color: yellow;
    position: relative;
    padding-top: 10px;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-size: 70px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: 1s;
    text-shadow: 0px 0px 10px 100px black;
}



.Article1{
    position: relative;
    top: 50px;
    left: 100px;
    width: 500px;
    height: 500px;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/creativity.jpg);
    background-position: -300px;
    background-size: 200%;
    background-repeat: no-repeat;
    filter: brightness(100%);
    transition: 1s;
    box-shadow: 0px 0px 100px black;
}

.ac1txt{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 250px;
    left: 10px;
    font-size: 60px;
    color: black;
    text-shadow: 5px 5px 20px rgb(66, 66, 66);
    transition: 1s;
    /* background: #C4C4C4; */
}

.shadow{
    height: 500px;
    width: 500px;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.129);
    transition: 1s;
    position: absolute;
}


.shadow:hover{
    background-color: rgba(255, 255, 255, 0);
}



.ac1txt:hover{
    color: rgb(255, 255, 255);
    filter: brightness(100%);
}


.Article1:hover{
    background-blend-mode: saturation;
    backdrop-filter: inherit;
    background-size: 220%;
    background-repeat: no-repeat;
}


.Article2{
    position: relative;
    bottom: 450px;
    left: 670px;
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-color: #C4C4C4;
    background-image: url(images/happy.jpg);
    background-position: -150px    0px;
    background-size: 160%;
    background-repeat: no-repeat;
    filter: brightness(250%);
    transition: 1s;
    box-shadow: 0px 0px 100px black;
}


.ac2txt{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 10px;
    right: 10px;
    font-size: 25px;
    color: black;
    text-shadow: 5px 5px 10px rgb(66, 66, 66);
    transition: 1s;
    /* background: #C4C4C4; */
}

.shadow2{
    height: 250px;
    width: 250px;
    border-radius: 10%;
    background-color: rgba(12, 12, 12, 0.598);
    transition: 1s;
    position: absolute;
}


.shadow2:hover{
    background-color: rgba(255, 255, 255, 0);
}



.ac2txt:hover{
    color: white;
}

.Article2:hover{
    background-size: 180%;
    background-position-x: -150px;
}


.Article3{
    position: relative;
    bottom: 400px;
    left: 670px;
    width: 250px;
    height: 200px;
    border-radius: 10%;
    background-color: #C4C4C4;
    background-image: url(images/zen.jpg);
    background-size: 160%;
    background-position: -10px -20px;
    background-repeat: no-repeat;
    transition: 1s;
    box-shadow: 0px 0px 100px black;
}

.ac3txt{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 40%;
    left: 10px;
    right: 30px;
    font-size: 25px;
    color: black;
    text-shadow: 5px 5px 10px rgb(66, 66, 66);
    transition: 1s;
    /* background: #C4C4C4; */
}


.shadow3{
    height: 200px;
    width: 250px;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.129);
    transition: 1s;
    position: absolute;
}


.shadow3:hover{
    background-color: rgba(255, 255, 255, 0);
}



.ac3txt:hover{
    color: white;
}

.Article3:hover{
    background-size: 200%;
    background-position: -100px -90px;
}


.Article4{
    position: relative;
    bottom: 900px;
    left: 970px;
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-color: #C4C4C4;
    background-image: url(images/entertainment.jpg);
    background-size: 160%;
    background-position: -50px -20px;
    background-repeat: no-repeat;
    transition: 1s;
    box-shadow: 0px 0px 100px black;
}


.ac4txt{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 10px;
    right: 10px;
    font-size: 25px;
    color: black;
    text-shadow: 5px 5px 10px rgb(66, 66, 66);
    transition: 1s;
    /* background: #C4C4C4; */
}


.ac4txt:hover{
    color: white;
}

.Article4:hover{
    background-size: 180%;
}


.Topmore{
    position: relative;
    bottom: 850px;
    left: 970px;
    width: 250px;
    height: 200px;
    border-radius: 10%;
    background-color: #ffffff;
    background-image: url(images/more.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position-x: -100px;
    transition: 1s;
    box-shadow: 0px 0px 100px black;
}

a{
    text-decoration: none;
    height: 200px;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.more{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-decoration: overline;
    top: 50%;
    left: 10px;
    right: 10px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(54, 54, 54);
    transition: 1s;
}


.more:hover{
    color: rgb(255, 255, 255);
    font-size: 410%;
}

.Topmore:hover{
    background-size: 180%;
    background-position-x: -150px;
    background-position-y: -20px;
}






.categories {
    position: relative;
    height: 762px;
    background-color: rgb(22, 22, 22);
}


.cheader{
    color: yellow;
    position: relative;
    padding-top: 10px;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-size: 70px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 0px 10px 100px black;
    font-weight: 400;
    transition: 1s;
}


ul{
    padding: 10px;
    padding-left: 250px;
    align-items: center;
}

.c{
    font-size: 60px;
    display:inline-block;
    text-transform: capitalize;
    color: black;
    background-color: white;
    width: 80%;
    height: 100px;
    border-radius: 238px;
    padding-left: 15px;
    margin-bottom: 50px;
    text-align: center;
    align-items: baseline;
    transition: 0.5s;
    box-shadow: 0px 0px 70px black;
}

.c:hover{
    color: white;
    background-color: rgb(35, 35, 35);
    transform: scale(105%);
}


.writers {
    position: relative;
    height: 762px;
    overflow: hidden;
    background-color: rgb(27, 27, 27);
}


.writersheader{
    color: yellow;
    position: relative;
    padding-top: 10px;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-size: 70px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: 1s;
}



.writer1{
    position: relative;
    top: 50px;
    left: 700px;
    width: 500px;
    height: 500px;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/writers/man1.jpg);
    background-position: -300px;
    background-size: 200%;
    background-repeat: no-repeat;
    filter: brightness(100%);
    transition: 1s;
    box-shadow: 0px 0px 60px black;
}

.ac1txt{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 250px;
    left: 10px;
    font-size: 60px;
    color: black;
    text-shadow: 5px 5px 20px rgb(66, 66, 66);
    transition: 1s;
    /* background: #C4C4C4; */
}

.shadow{
    height: 500px;
    width: 500px;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.129);
    transition: 1s;
    position: absolute;
}


.shadow:hover{
    background-color: rgba(255, 255, 255, 0);
}



.ac1txt:hover{
    color: rgb(255, 255, 255);
    filter: brightness(100%);
}


.writer1:hover{
    background-size: 220%;
    background-repeat: no-repeat;
}


.writer2{
    position: relative;
    bottom: 450px;
    left: 100px;
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-color: #C4C4C4;
    background-image: url(images/writers/man2.jpg);
    background-position: -150px    0px;
    background-size: 160%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 60px black;
    transition: 1s;
}


.ac2txt{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 10px;
    right: 10px;
    font-size: 25px;
    color: black;
    text-shadow: 5px 5px 10px rgb(66, 66, 66);
    transition: 1s;
    /* background: #C4C4C4; */
}

.shadow2{
    height: 250px;
    width: 250px;
    border-radius: 10%;
    background-color: rgba(12, 12, 12, 0.598);
    transition: 1s;
    position: absolute;
}


.shadow2:hover{
    background-color: rgba(255, 255, 255, 0);
}



.ac2txt:hover{
    color: white;
}

.writer2:hover{
    background-size: 180%;
    background-position-x: -150px;
}


.writer3{
    position: relative;
    bottom: 400px;
    left: 100px;
    width: 250px;
    height: 200px;
    border-radius: 10%;
    background-color: #C4C4C4;
    background-image: url(images/writers/man5.jpg);
    box-shadow: 0px 0px 60px black;
    background-size: 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    transition: 1s;
}

.ac3txt{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 40%;
    left: 10px;
    right: 30px;
    font-size: 25px;
    color: black;
    text-shadow: 5px 5px 10px rgb(66, 66, 66);
    transition: 1s;
    /* background: #C4C4C4; */
}


.shadow3{
    height: 200px;
    width: 250px;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.129);
    transition: 1s;
    position: absolute;
}


.shadow3:hover{
    background-color: rgba(255, 255, 255, 0);
}



.ac3txt:hover{
    color: white;
}

.writer3:hover{
    background-size: 200%;
    background-position: -100px -90px;
}


.writer4{
    position: relative;
    bottom: 900px;
    left: 400px;
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-color: #C4C4C4;
    background-image: url(images/writers/man4.jpg);
    box-shadow: 0px 0px 60px black;
    background-size: 170%;
    background-position: -50px -20px;
    background-repeat: no-repeat;
    transition: 1s;
}


.ac4txt{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 10px;
    right: 10px;
    font-size: 25px;
    color: black;
    text-shadow: 5px 5px 10px rgb(66, 66, 66);
    transition: 1s;
    /* background: #C4C4C4; */
}


.ac4txt:hover{
    color: white;
}

.writer4:hover{
    background-size: 180%;
}


.Topmorewriter{
    position: relative;
    bottom: 850px;
    left: 390px;
    width: 250px;
    height: 200px;
    border-radius: 10%;
    background-color: #ffffff;
    background-image: url(images/more.jpg);
    box-shadow: 0px 0px 60px black;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position-x: -100px;
    transition: 1s;
}

a{
    text-decoration: none;
    height: 200px;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.morewriter{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    left: 10px;
    right: 10px;
    text-decoration: overline;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(54, 54, 54);
    transition: 1s;
}


.morewriter:hover{
    color: rgb(255, 255, 255);
    font-size: 410%;
}

.Topmorewriter:hover{
    background-size: 180%;
    background-position-x: -150px;
    background-position-y: -20px;
}




.footer{
    position: sticky;
    height: 400px;
    background-color: rgb(2, 2, 2);
}


/* small screens */

@media only screen and (max-width:1229px) {
    
.writers {
    position: relative;
    height: 1500px;
    overflow: hidden;
}

.writer1{
    position: relative;
    left: 20px;
}

.writer2{
    position: relative;
    left: 800px;
    bottom: 100px;
}

.writer3{
    position: relative;
    left: 500px;
    bottom: 0px;
}

.writer4{
    position: relative;
    bottom: 0px;
    left: 20px;
}

.Topmorewriter{
        position: relative;
        left: 0px;
        bottom: 0px;
        left: 670px;
}


   
.toparticles {
    position: relative;
    height: 1500px;
    overflow: hidden;
}

.Article1{
    position: relative;
    left: 20px;
}

.Article2{
    position: relative;
    left: 800px;
    bottom: 100px;
}

.Article3{
    position: relative;
    left: 500px;
    bottom: 0px;
}

.Article4{
    position: relative;
    bottom: 0px;
    left: 20px;
}

.Topmore{
        position: relative;
        left: 0px;
        bottom: 0px;
        left: 670px;
}

}