*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* background: rgba(23, 23, 23, 0.93);    */
   }

   /*TOPRATINGS*/


.hero{
    height: 100vh;
    background-color: black;
}

.articles {
    overflow: hidden;
    position: relative;
    height: 762px;
    width: 100%;
    background-color: rgb(27, 27, 27);
}


li{
    color: yellow;
    font-size: 60px;
}