/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(49, 49, 49); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #757575; 
  }


  html{
    scroll-behavior: smooth;
    cursor: none;
  }


  .background{
    background-image: url(images/articles/creativity.jpg);
    background-size: cover;
    height: 762px;
  }
  
#cursor{
  position: absolute;
  width: 50px;
  rotate: 10deg;
  height: 50px;
  border: white;
  border-style: solid;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  transition: 0.01s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 10;
  backdrop-filter: invert(100%);
  /* animation-name: example; */
  /* animation-iteration-count: infinite; */
  /* animation-duration: 2.5s; */
}
/* 
@keyframes example {
  0% {
      width: 50px;
      height: 50px;
      rotate: 0deg;
  }
  25% {
      width: 70px;
      height: 50px;
      rotate: 10deg;
  }
  50% {
      width: 50px;
      height: 50px;
      rotate: 0deg;
  }
  75% {
      width: 50px;
      height: 70px;
      rotate: 10deg;
  }
  100% {
      width: 50px;
      height: 50px;
      rotate: 0deg;
  }
} */